/* 这里是样式文件 */  
@font-face {  
    font-family: 'MyCustomFont'; /* 你可以自定义这个字体名称 */  
    src: url(349642_2_0.woff2) format('woff2'), /* 指向你的woff2文件 */  
    font-weight: light; /* 定义字体的粗细 */  
    font-style: normal; /* 定义字体的风格 */  
}

body {  
    font-family: 'MyCustomFont', sans-serif; /* 使用自定义字体，如果浏览器不支持则回退到sans-serif */ 
    margin: 0;  
    padding: 0;  
}  
  
header {  
    color: rgb(0, 0, 0);
    background-image: url('images5.jpg');
    background-size: cover;
    padding: 20px;  
    text-align: center; 
    .special-heading1 {  
        font-size: 48px; /* 为具有special-heading类的<h1>标签设置字体尺寸 */  
    }
    .special-heading2 {  
        font-size: 24px; /* 为具有special-heading类的<h1>标签设置字体尺寸 */  
    }
    .special-heading3 {  
        font-size: 50px; /* 为具有special-heading类的<h1>标签设置字体尺寸 */  
    }
}  

nav {  
    width: 100%; /* 宽度可以根据需要设置 */  
    background-color: #333; /* 背景色 */  
    padding: 10px 0; /* 内边距 */  
}  
  
nav ul {  
    list-style-type: none; /* 移除默认的列表样式 */  
    margin: 0; /* 移除默认的外边距 */  
    padding: 0; /* 移除默认的内边距 */  
    display: flex; /* 使用弹性布局使列表项水平排列 */  
    justify-content: space-around; /* 列表项之间的空间平均分布 */  
}  
  
nav ul li {  
    /* 这里可以根据需要添加样式，比如设置字体、颜色等 */  
}  
  
nav ul li a {  
    color: #fff; /* 文本颜色 */  
    text-decoration: none; /* 移除下划线 */  
    padding: 5px 10px; /* 内边距 */  
    display: inline-block; /* 使链接可以应用内边距和边框 */  
    transition: color 0.3s ease; /* 链接颜色过渡效果 */  
}  
  
nav ul li a:hover {  
    color: rgb(141, 37, 0); /* 悬停时文本颜色变为黄色 */  
}

/* 为带有特定ID的div元素设置样式 */  
#my-unique-block {  
    background-color: #f2f2f2; /* 背景色 */  
    padding: 30px; /* 内边距 */  
    border: 1px solid #959595; /* 边框 */  
    margin-bottom: 10px; /* 下外边距 */  
    text-align: center; 
    /* 可以添加更多样式 */  
}  

#specific-paragraph {  
    text-align: center;  
    font-size: 2rem;  
}

footer {
    color: white;   
    background-color: #000000;  
    padding: 20px;  
    text-align: center;  
    position: fixed;  
    bottom: 0;  
    width: 100%;  
}